<div class="container">
        <h1 class="font-effect-shadow-multiple"> You are logged into the blog</h1>
        <div class = "row">
            <div class = "col-7 mt-5" id="form">
                <form id="username-form">
                    <div class="card">
                        <h2 id="username">{{username}}</h2>

                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
        
    </div>
        </div>
        </div>    
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/user.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>